In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [71]:
train_df= pd.read_excel('Data_Train.xlsx')
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [72]:
test_df= pd.read_excel('Test_set.xlsx')
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [73]:
final_df = train_df.append(test_df)
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [74]:
final_df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [75]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

### feature engineering process

In [76]:
final_df['Date']= final_df['Date_of_Journey'].str.split('/').str[0]
final_df['month']= final_df['Date_of_Journey'].str.split('/').str[1]
final_df['year']= final_df['Date_of_Journey'].str.split('/').str[2]

In [77]:
final_df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,month,year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019

In [78]:
final_df['Date'] = final_df['Date'].astype(int)
final_df['month'] = final_df['month'].astype(int)
final_df['year'] = final_df['year'].astype(int)

In [79]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int64
 12  month            13354 non-null  int64
 13  year             13354 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 1.5+ MB

In [80]:
final_df.drop('Date_of_Journey',axis=1,inplace=True)

In [81]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,month,year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019

In [82]:
final_df['Arrival_hour_min']=final_df['Arrival_Time'].str.split(' ').str[0]

In [83]:
final_df.isnull().sum()

Airline                0
Source                 0
Destination            0
Route                  1
Dep_Time               0
Arrival_Time           0
Duration               0
Total_Stops            1
Additional_Info        0
Price               2671
Date                   0
month                  0
year                   0
Arrival_hour_min       0
dtype: int64

In [84]:
final_df['Arrival_hour']= final_df['Arrival_hour_min'].str.split(':')

In [85]:
final_df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,month,year,Arrival_hour_min,Arrival_hour
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019,01:10,"[01, 10]"
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019,13:15,"[13, 15]"
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,6,2019,04:25,"[04, 25]"
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019,23:30,"[23, 30]"
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019,21:35,"[21, 35]"

In [86]:
final_df['Dep_hour']= final_df['Dep_Time'].str.split(':').str[0]

In [87]:
final_df['Dep_min']= final_df['Dep_Time'].str.split(':').str[1]
final_df['Dep_hour']= final_df['Dep_hour'].astype(int)
final_df['Dep_min']= final_df['Dep_min'].astype(int)
final_df.drop('Dep_Time', axis=1, inplace=True)

In [88]:
final_df['Dep_hour']

0       22
1        5
2        9
3       18
4       16
        ..
2666    20
2667    14
2668    21
2669     4
2670     4
Name: Dep_hour, Length: 13354, dtype: int64

In [89]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13354 non-null  object
 1   Source            13354 non-null  object
 2   Destination       13354 non-null  object
 3   Route             13353 non-null  object
 4   Arrival_Time      13354 non-null  object
 5   Duration          13354 non-null  object
 6   Total_Stops       13353 non-null  object
 7   Additional_Info   13354 non-null  object
 8   Price             10683 non-null  float64
 9   Date              13354 non-null  int64
 10  month             13354 non-null  int64
 11  year              13354 non-null  int64
 12  Arrival_hour_min  13354 non-null  object
 13  Arrival_hour      13354 non-null  object
 14  Dep_hour          13354 non-null  int64
 15  Dep_min           13354 non-null  int64
dtypes: float64(1), int64(5), object(10)
memory usage: 1.7+ MB

In [90]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [91]:
final_df['Total_Stops']= final_df['Total_Stops'].map({'non-stop':0,  '1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'NaN':1})

In [92]:
final_df.head(1)

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,month,year,Arrival_hour_min,Arrival_hour,Dep_hour,Dep_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,0.0,No info,3897.0,24,3,2019,01:10,"[01, 10]",22,20

In [93]:
final_df.drop('Route',axis=1,inplace=True)

In [94]:
final_df.head(1)

,Airline,Source,Destination,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,month,year,Arrival_hour_min,Arrival_hour,Dep_hour,Dep_min
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,2h 50m,0.0,No info,3897.0,24,3,2019,01:10,"[01, 10]",22,20

In [95]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13354 non-null  object
 1   Source            13354 non-null  object
 2   Destination       13354 non-null  object
 3   Arrival_Time      13354 non-null  object
 4   Duration          13354 non-null  object
 5   Total_Stops       13353 non-null  float64
 6   Additional_Info   13354 non-null  object
 7   Price             10683 non-null  float64
 8   Date              13354 non-null  int64
 9   month             13354 non-null  int64
 10  year              13354 non-null  int64
 11  Arrival_hour_min  13354 non-null  object
 12  Arrival_hour      13354 non-null  object
 13  Dep_hour          13354 non-null  int64
 14  Dep_min           13354 non-null  int64
dtypes: float64(2), int64(5), object(8)
memory usage: 1.6+ MB

In [96]:
final_df['duration_hour']=final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [97]:
final_df.drop(6474,axis=0, inplace=True)
final_df.drop(2660,axis=0, inplace=True)

In [98]:
final_df['duration_hour']= final_df['duration_hour'].astype('int')

In [99]:
final_df.drop('Duration', axis=1,inplace = True)

In [100]:
final_df.head(1)

,Airline,Source,Destination,Arrival_Time,Total_Stops,Additional_Info,Price,Date,month,year,Arrival_hour_min,Arrival_hour,Dep_hour,Dep_min,duration_hour
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,0.0,No info,3897.0,24,3,2019,01:10,"[01, 10]",22,20,2

In [101]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [104]:
final_df['Airline']=labelencoder.fit_transform(final_df['Airline'])
final_df['Source']=labelencoder.fit_transform(final_df['Source'])
final_df['Destination']=labelencoder.fit_transform(final_df['Destination'])
final_df['Additional_Info']=labelencoder.fit_transform(final_df['Additional_Info'])

In [105]:
final_df.shape

(13351, 15)

In [106]:
final_df.head()

,Airline,Source,Destination,Arrival_Time,Total_Stops,Additional_Info,Price,Date,month,year,Arrival_hour_min,Arrival_hour,Dep_hour,Dep_min,duration_hour
0,3,0,5,01:10 22 Mar,0.0,8,3897.0,24,3,2019,01:10,"[01, 10]",22,20,2
1,1,3,0,13:15,2.0,8,7662.0,1,5,2019,13:15,"[13, 15]",5,50,7
2,4,2,1,04:25 10 Jun,2.0,8,13882.0,9,6,2019,04:25,"[04, 25]",9,25,19
3,3,3,0,23:30,1.0,8,6218.0,12,5,2019,23:30,"[23, 30]",18,5,5
4,3,0,5,21:35,1.0,8,13302.0,1,3,2019,21:35,"[21, 35]",16,50,4

In [109]:
pd.get_dummies(final_df,columns=["Airline", "Source","Destination", "Additional_Info"], drop_first=True)

,Arrival_Time,Total_Stops,Price,Date,month,year,Arrival_hour_min,Arrival_hour,Dep_hour,Dep_min,...,Destination_5,Additional_Info_1,Additional_Info_2,Additional_Info_3,Additional_Info_4,Additional_Info_5,Additional_Info_6,Additional_Info_7,Additional_Info_8,Additional_Info_9
0,01:10 22 Mar,0.0,3897.0,24,3,2019,01:10,"[01, 10]",22,20,...,1,0,0,0,0,0,0,0,1,0
1,13:15,2.0,7662.0,1,5,2019,13:15,"[13, 15]",5,50,...,0,0,0,0,0,0,0,0,1,0
2,04:25 10 Jun,2.0,13882.0,9,6,2019,04:25,"[04, 25]",9,25,...,0,0,0,0,0,0,0,0,1,0
3,23:30,1.0,6218.0,12,5,2019,23:30,"[23, 30]",18,5,...,0,0,0,0,0,0,0,0,1,0
4,21:35,1.0,13302.0,1,3,2019,21:35,"[21, 35]",16,50,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,20:25 07 Jun,1.0,NaN,6,6,2019,20:25,"[20, 25]",20,30,...,0,0,0,0,0,0,0,0,1,0
2667,16:55,0.0,NaN,27,3,2019,16:55,"[16, 55]",14,20,...,0,0,0,0,0,0,0,0,1,0
2668,04:25 07 Mar,1.0,NaN,6,3,2019,04:25,"[04, 25]",21,50,...,0,0,0,0,0,0,0,0,1,0
2669,19:15,1.0,NaN,6,3,2019,19:15,"[19, 15]",4,0,...,0,0,0,0,0,0,0,0,1,0
2670,19:15,1.0,NaN,15,6,2019,19:15,"[19, 15]",4,55,...,0,0,0,0,0,0,0,0,1,0